.RData
.Rhistory
concrete-items.zip
concrete-items/
concrete.png
inductive-items.zip
inductive-items/
inductive.png
item-graphs.png
sorites.results
z-concrete-items.zip
z-concrete-items/
z-concrete.png
z-inductive-items.zip
z-inductive-items/
z-inductive.png
z-item-graphs.png

