.RData
.Rhistory
*.aux
*.log
*.out
*.backup
*.toc
*.synctex.gz
old-analysis/alternate-directory-structure-jan2015
writeup/simulations/node_modules
experiments/*/analysis/mturk
*.results
model/justine-priors-lognormal-fit/simulation-results/commit-7d785bf97f7d54e55d28dc7a267ec68c91277f2c-run1/*
model/justine-priors-lognormal-fit/simulation-results/commit-88c4a624297fac26b82555a114ae2c84ff5288d5/*
model/justine-priors-lognormal-fit/simulation-results/commit-9cfefad7c02f0593d4b980046a381f2ff160ca50/*
