__cached
*.aux
*.log
*.out
*.backup
*.toc
*.synctex.gz
*.RData
*.Rhistory
*.DS_Store
*.Rapp.history
analysis/*.html
analysis/*.png
data/raw_data
data_summary_*
data_summary-*
models/node_modules/babyparse/
models/node_modules/jStat/
sorites_data.png
.Rproj.user
models/results/
